<!-- display user's fav table -->
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/faves.css" type="text/css" />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favorites</title>
</head>
<body>
  <%- include('partials/_header') %>

  <div id="faves-grid">
    <% for (let fave of faves) {%>
      <div><%= fave.game_title %></div>
      <div id="photo-container">
        <a href="/games/<%= fave.game_id %>"><img src="<%= fave.game_photo %>"></a>
      </div>
      <% } %>
  </div>
</body>
</html>
