
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>FRYapp - Messages</title>
  </head>
<body>

  <%- include('partials/_header') %>

<main>
  <header>
    <h1><%= messages[0].title%></h1>

  </header>
  <% for (let msg of messages) { %>
  <div class="message-container">
    <span><%= msg.text%></span>
  </div>
  <% } %>
  <div class="message-form">
    <form method="POST" action="/messages/<%= gameID%>">
      <input name ='text' placeholder="Write your message here"></input>
      <button type="submit" class="btn btn-light">Send message</button>
    </form>
  </div>

</main>
</body>
</html>



