
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>FRYapp - Add New Post</title>
  </head>



  <body>
    <%- include('partials/_header') %>
    <form action="/games" method="post" id="new-game-form" class="new-game-form">
      <div class="new-game-form__field-wrapper">
        <label for="new-game-form__title">Game Title</label>
        <input type="text" name="title" placeholder="Title" id="new-game-form__title">
      </div>

      <div class="new-game-form__field-wrapper">
        <label form="new-game-form_category">Select a Game Category:</label>
        <select id="new-game-form__category" name ="category">
          <option value="nintendo-switch">Nintendo Switch</option>
          <option value="nintendo-3ds">Nintendo 3DS</option>
          <option value="nintendo-xbox-one">XBOX one</option>
          <option value="pc">PC</option>
          <option value="sony-ps4">Sony PS4</option>
          <option value="retro">Retro</option>
        </select>
      </div>

      <div class="new-game-form__field-wrapper">
        <label for="new-game-form__description">Description</label>
        <textarea placeholder="Description" name="description" id="game-form__description" cols="30" rows="10"></textarea>
      </div>

      <div class="new-game-form__field-wrapper">
        <label for="new-game-form__cost">List Price:</label>
        <input placeholder="Cost" type="number" name="cost" id="new-game-form__cost">
      </div>

      <div class="new-game-form__field-wrapper">
        <label for="new-game-form__image">Image</label>
        <input placeholder="Image" type="text" name="photo" id="new-game-form__photo">
      </div>

      <div class="new-game-form__field-wrapper">
        <button>Create</button>
        <a id="game-form__cancel" href="#">Cancel</a>
      </div>
  </form>
</body>
