
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/message.css" type="text/css" />
    <title>FRYapp - Messages</title>
  </head>
<body>

  <%- include('partials/_header') %>
<!-- does my function return an an array messages? No if it does how do I make it so that
it will only loop and -->
<section id="main-body">
  <div id="chat-box">
  <header id="message-title">
    <p><%= messages[0].game_title%></p>
  </header>
  <% for (let msg of messages) { %>
  <div class="message-container">
    <span><%= msg.text%></span>
  </div>
  <% } %>
  <div class="message-form">
    <form method="POST" action="/messages/<%= gameID%>">
      <input name ='text' placeholder="Write your message here"></input>
      <button type="submit" class="btn btn-light">Send message</button>
    </form>
  </div>
</div>
</section>
</body>
</html>



