<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <h1>Hello World!</h1>
  </body>
  <div>
    <% for (let game of games) { %>
      <p><%= game.title %></p>
      <img src=<%= game.photo %> alt="Dont buy it" style=width:300px;height:300px>
    <% } %>
  </div>
</html>


<!-- load ten most recent post
create dropdown with categories
add a favorite button to all posts 
implement all functions-->
