#filter-platform {
  display: flex;
  margin-top: 6%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

#filter-price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
