#game-photo {
  display: flex;
  margin-top: 10% 5% 0 5%;
  justify-content: center;
}

#game-info {
  display: flex;
  justify-content: center;

}

#message-form {
  display: flex;
  justify-content: center;
}
